*{
  box-sizing: border-box;
}
.App {
  background: #283c86;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 40px;
  font-family: helvetica;
  background: rgba(255,255,255,0.25);
  color: white;
  padding: 20px 32px;
  border-bottom: 2px solid white;
}
.logo{
  height: 42px;
  margin-right: 24px;
}
.text-input{
  position:absolute;
  bottom:0;
  height:40px;
  width:100%;
  border-top:2px solid white;
  display:flex;
  align-items: center;
}
/* comment */
.text-input input {
  width:calc(100% - 10px);
  height:31px;
  color:white;
  border:1px solid white;
  border-radius:14px;
  position:absolute;
  right:5px;
  background:#1f1e2e;
  padding-left:12px;
  padding-bottom:2px;
  padding-right:28px;
  font-size:16px;
  outline:none;
}
.text-input button {
  position:absolute;
  top:6px;
  right:7px;
  border-radius:100%;
  width:27px;
  height:27px;
  border:1px solid white;
  background:white;
  padding: 5px 2px;
  cursor: pointer;
  outline:none;
}
.text-input button:hover {
  color:white;
  background:teal;
}
.text-input button[disabled] {
  background:grey;
  color:white;
  cursor:default;
}
.text-input button svg {
  height:14px;
  width:14px;
}
